<modal  title="Modal title"
        cancelButtonLabel="cancel"
        submitButtonLabel="submit"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="true|false"
        [closeOnEscape]="true|false"
        [closeOnOutsideClick]="true|false"
        (onOpen)="actionOnOpen()"
        (onClose)="actionOnClose()"
        (onSubmit)="actionOnSubmit()">
 
    <modal-header>
        Modal header content goes there.
    </modal-header>
 
    <modal-content>
        Modal body content goes there.
    </modal-content>
 
    <modal-footer>
        Modal footer content goes there.
    </modal-footer>
        
</modal>